@import url('https://fonts.cdnfonts.com/css/beatrice-display-trial');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  overflow-x: hidden;
  width: 100%;
  font-family: 'Beatrice Display Trial', sans-serif;
  color: var(--foreground);
  background: url('/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@keyframes marquee {
  from {
    transform: translateX(100%);
    opacity: 0.4;
  }
  to {
    transform: translateX(-100%);
    opacity: 1;
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 10s linear infinite; /* Faster speed */
}

/* Animated Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
  transition: width 0.3s ease-in-out; /* Smooth animation */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* Make track transparent */
}

/* Scrollbar Thumb (Draggable Part) */
::-webkit-scrollbar-thumb {
  background: #0a0a0a; /* Initial color */
  border-radius: 4px;
  transition: background 0.3s ease-in-out, width 0.3s ease-in-out;
}

/* Hover Effect: Make it more visible */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8); /* Darker on hover */
  width: 12px; /* Increase width slightly */
}

